<h1>Add a Username:</h1>
<div id="form_data">
    <form method="post" action="/add-username">
        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username" REQUIRED><br><br>
        <div class="button"><input type="submit" class="submitBtn" name='submit' value="Add"></div>
    </form>
</div>
<br><br>
 <h1>Get All Usernames:</h1>
<div id="form_data"></div>
    <form method="get" action="/get-usernames">
        <div class="button"><input type="submit" class="submitBtn" name='submit' value="Get"></div>
    </form>
</div>